img[src*="copyright_logo_hd"] {
	display: none;
}

.BMap_cpyCtrl {
	display: none;
}

#l-map {
	height: calc(100% - 140px);
	width: 100%;
	top: 140px;
	overflow: hidden;
}

.mui-off-canvas-right {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	visibility: hidden;
	box-sizing: content-box;
	width: 90%;
	min-height: 100%;
	background: #f3f3f3;
	!important;
}

a[href*="api.map.baidu.com"] {
	display: none;
}

.mui-bar {
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	height: 44px;
	padding-right: 10px;
	padding-left: 10px;
	border-bottom: 0;
	background-color: #00AEEF;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .85);
	box-shadow: 0 0 1px rgba(0, 0, 0, .85);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

a {
	color: white;
}

</style><style type="text/css">@charset "UTF-8";
* {
	-webkit-tap-highlight-color: transparent
}

.styleguide,
.styleguide * {
	box-sizing: border-box;
	-webkit-box-sizing: border-box
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
menu,
ol,
p,
q,
ul {
	margin: 0;
	padding: 0
}

ol,
ul {
	list-style: none
}

a,
button,
input {
	outline: 0
}

a:focus,
a:hover,
a:visited {
	text-decoration: none;
	outline: 0
}

a:active,
a:hover {
	outline: 0
}

html {
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

small {
	font-size: 80%
}

pre {
	overflow: auto
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,
th {
	padding: 0
}

body {
	background: #f2f2f2;
	color: #3b3b3b;
	font-size: 14px;
	font-family: Helvetica, Arial, "Helvetica Neue", "Droid Sans", "Heiti SC", "Microsoft YaHei", sans-serif
}

p {
	line-height: 20px
}

.-bg-lighter {
	background-color: #fff!important
}

.-bg-normal {
	background-color: #f2f2f2!important
}

.-bg-light {
	background-color: #f9f9f9!important
}

.-bg-dark {
	background-color: #eaeaea!important
}

.-bg-darker {
	background-color: #000!important
}

.-bg-brand {
	background-color: #6bb1f7!important
}

.-bg-alert {
	background-color: #ff3a2b!important
}

.-bg-transparent {
	opacity: .8!important
}

.-shadow-card {
	-webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2)!important
}

.-shadow-dialog {
	-webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, .4)!important
}

.-ft-small {
	font-size: 12px!important
}

.-ft-base {
	font-size: 14px!important
}

.-ft-middle {
	font-size: 15px!important
}

.-ft-large {
	font-size: 16px!important
}

.-ft-alert {
	color: #ff3a2b!important
}

.-ft-brand {
	color: #4b8ff9!important
}

.-ft-primary {
	color: #3b3b3b!important
}

.-ft-secondary {
	color: #555!important
}

.-ft-tertiary {
	color: #848484!important
}

.-ft-fourth {
	color: #cfcfcf!important
}

.-ft-fifth {
	color: #fff!important
}

.-spacing-small {
	margin-bottom: 5px!important
}

.-spacing-base {
	margin-bottom: 10px!important
}

.-spacing-large {
	margin-bottom: 15px!important
}

.-border-round {
	-webkit-border-radius: 3px;
	border-radius: 3px
}

.-clearfix:after,
.-clearfix:before,
.clearfix:after,
.clearfix:before {
	display: table;
	content: " "
}

.-clearfix:after,
.clearfix:after {
	clear: both
}

.-vcenter:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px
}

.-hcenter {
	margin-left: auto;
	margin-right: auto;
	text-align: center
}

.btn-group,
.flex-row,
.row {
	width: 100%;
	-webkit-box-align: center;
	display: -webkit-box!important;
	display: -webkit-flex!important;
	-webkit-align-items: center
}

.-align-top.btn-group,
.-align-top.flex-row,
.row.-align-top {
	-webkit-box-align: start;
	-webkit-align-items: flex-start
}

.btn-group>*,
.flex-row>*,
.row>* {
	display: block!important;
	-webkit-box-flex: 1;
	-webkit-flex: 1
}

.btn-group>.-col-auto,
.flex-row>.-col-auto,
.row>.-col-auto {
	display: block!important;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto
}

.-col1 {
	-webkit-box-flex: 0!important;
	-webkit-flex: none!important;
	width: 8.33333%!important
}

.-col2 {
	-webkit-box-flex: 0!important;
	-webkit-flex: none!important;
	width: 16.66667%!important
}

.-col3 {
	-webkit-box-flex: 0!important;
	-webkit-flex: none!important;
	width: 25%!important
}

.-col4 {
	-webkit-box-flex: 0!important;
	-webkit-flex: none!important;
	width: 33.33333%!important
}

.-col5 {
	-webkit-box-flex: 0!important;
	-webkit-flex: none!important;
	width: 41.66667%!important
}

.-col6 {
	-webkit-box-flex: 0!important;
	-webkit-flex: none!important;
	width: 50%!important
}

.-col7 {
	-webkit-box-flex: 0!important;
	-webkit-flex: none!important;
	width: 58.33333%!important
}

.-col8 {
	-webkit-box-flex: 0!important;
	-webkit-flex: none!important;
	width: 66.66667%!important
}

.-col9 {
	-webkit-box-flex: 0!important;
	-webkit-flex: none!important;
	width: 75%!important
}

.-col10 {
	-webkit-box-flex: 0!important;
	-webkit-flex: none!important;
	width: 83.33333%!important
}

.-col11 {
	-webkit-box-flex: 0!important;
	-webkit-flex: none!important;
	width: 91.66667%!important
}

.-col12 {
	-webkit-box-flex: 0!important;
	-webkit-flex: none!important;
	width: 100%!important
}

.card,
.container {
	display: block;
	padding: 10px;
	overflow: hidden
}

.card.-large,
.container.-large {
	padding: 15px 10px
}

.card.-compacted,
.container.-compacted {
	padding: 0 10px
}

.card.-lighter,
.container.-lighter {
	background-color: #fff;
	color: #3b3b3b
}

.card.-light,
.container.-light {
	background-color: #f9f9f9;
	color: #3b3b3b
}

.card.-normal,
.container.-normal {
	background-color: #f2f2f2;
	color: #3b3b3b
}

.card.-dark,
.container.-dark {
	background-color: #eaeaea;
	color: #3b3b3b
}

.container.-border {
	border-bottom: #d4d4d4 solid 1px
}

.card {
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 3px;
	border-radius: 3px
}

.btn {
	border: 1px solid #d4d4d4;
	padding: 0 10px;
	color: inherit;
	background-color: inherit
}

.btn:active {
	background-color: #e5e5e5
}

.btn,
.btn.-large {
	height: 44px;
	min-width: 44px;
	font-size: 15px
}

.btn.-small {
	height: 36px;
	min-width: 36px;
	font-size: 14px
}

.btn.-mini {
	height: 30px;
	min-wdith: 30px;
	font-size: 12px;
	padding: 0 5px
}

.btn.-lighter {
	color: #3b3b3b;
	background-color: #fff
}

.btn.-lighter:active {
	background-color: #f2f2f2
}

.btn.-light {
	color: #3b3b3b;
	background-color: #f9f9f9
}

.btn.-light:active {
	background-color: #ececec
}

.btn.-brand {
	color: #fff;
	background-color: #6bb1f7;
	border-color: #6bb1f7
}

.btn.-brand:active {
	background-color: #53a4f6;
	border-color: #53a4f6
}

.btn.-alert {
	color: #fff;
	background-color: #ff3a2b;
	border-color: #ff3a2b
}

.btn.-alert:active {
	background-color: #ff2212;
	border-color: #ff2212
}

.btn.-flat {
	border: 0
}

.btn.-flat:active {
	background-color: inherit;
	opacity: .2
}

a.btn {
	display: inline-block;
	text-align: center;
	overflow: hidden
}

a.btn:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: 0;
	margin-top: .3em
}

.btn-group .btn:not(:last-child) {
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}

.btn-group .btn:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}

.btn-group.-flat {
	border-top: #d4d4d4 solid 1px;
	border-bottom: #d4d4d4 solid 1px
}

.btn-group.-flat .btn {
	border: 0;
	border-radius: 0;
	position: relative
}

.btn-group.-flat .btn:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	height: 16px;
	width: 1px;
	background-color: #d4d4d4;
	top: 50%;
	margin-top: -.5em
}

.btn-group.-flat .btn:last-child:after {
	width: 0
}

input[type=text],
select {
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	border: 0
}

.input-text {
	font-size: 14px;
	border: 1px solid #d4d4d4;
	position: relative
}

.input-text input[type=text] {
	width: 100%;
	padding: 8px
}

.input-text.-icon>.icon {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	left: 6px;
	font-size: 16px
}

.input-text.-icon input[type=text] {
	padding-left: 30px
}

.input-text.-brand {
	border-color: #6bb1f7
}

.input-text.-alert {
	border-color: #ff3a2b
}

.input-group {
	position: relative;
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: start
}

.input-group .input-text {
	-webkit-box-flex: 1
}

.input-group .btn:first-child {
	border-right: 0
}

.input-group .btn:last-child {
	border-left: 0
}

.input-group .btn,
.input-group .input-text {
	height: 38px
}

.select-box {
	height: 30px;
	font-size: 14px;
	border: 1px solid #d4d4d4;
	display: inline-block;
	position: relative
}

.select-box select {
	display: inline-block;
	height: 100%;
	width: 100%;
	padding-right: 30px;
	padding-left: 3px;
	background-color: #fff
}

.select-box:after {
	display: inline-block;
	font-family: mwa;
	content: "\e61b";
	-webkit-font-smoothing: antialiased;
	color: #848484;
	position: absolute;
	font-size: 12px;
	right: 3px;
	top: 50%;
	margin-top: -8px;
	pointer-events: none
}

.wa-label {
	padding: 0 4px;
	height: 24px;
	line-height: 24px;
	min-width: 24px;
	border-radius: 2px;
	color: #fff;
	background-color: #eaeaea;
	display: inline-block;
	text-align: center
}

.wa-label.-small {
	padding: 0 2px;
	height: 16px;
	line-height: 16px;
	min-width: 16px
}

.wa-label.-large {
	padding: 0 8px;
	height: 30px;
	line-height: 30px;
	min-width: 30px
}

ul.tab {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
	table-layout: fixed
}

ul.tab>li {
	display: table-cell;
	position: relative;
	border-bottom: #d4d4d4 solid 1px;
	font-size: 15px;
	text-align: center;
	line-height: 1
}

ul.tab>li:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	height: 16px;
	width: 1px;
	background-color: #d4d4d4;
	top: 50%;
	margin-top: -.5em
}

ul.tab>li.active {
	border-bottom: 0;
	color: #4b8ff9;
	background-color: #d1dcef
}

ul.tab>li.active+li:before,
ul.tab>li.active:before {
	width: 0;
	height: 0
}

ul.tab>li:first-child:before {
	width: 0
}

ul.tab>li>a {
	height: 50px;
	display: block
}

ul.tab>li>a:active {
	background-color: #d1dcef
}

ul.tab>li>a:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
	margin-top: .3em
}

.common-widget-hideoverlay {
	width: 100%;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	background: #f2f2f2
}

.index-widget-tabgroup {
	position: relative;
	z-index: 210;
	background-color: #3385ff;
	border-bottom: 1px solid #1a6fff
}

.index-widget-tabgroup ul.tab>li:before {
	display: none
}

.index-widget-tabgroup ul.tab>li {
	border-bottom: 0
}

.index-widget-tabgroup ul.tab>li a:active {
	background-color: #307df0
}

.index-widget-tabgroup ul.tab>li.active {
	background-color: #3385ff
}

.index-widget-tabgroup ul.tab>li.active span {
	opacity: 1
}

.index-widget-tabgroup ul.tab>li.active .icon {
	opacity: 1
}

.index-widget-tabgroup li .head-icon {
	margin-right: 5px;
	color: #fff;
	font-size: 15px;
	opacity: .6
}

.index-widget-tabgroup li span {
	color: #fff;
	font-size: 16px;
	opacity: .6
}

.index-widget-tabgroup .user-info,
.index-widget-tabgroup .not-login {
	padding: 0 15px;
	height: 51px;
	display: block;
	text-align: center
}

.index-widget-tabgroup .not-login {
	padding-top: 1px;
	line-height: 51px;
	font-size: 16px;
	color: #fff
}

.index-widget-tabgroup .user-center::before {
	content: "";
	display: block;
	position: absolute;
	height: 22px;
	width: 1px;
	background-color: #85b6ff;
	top: 15px
}

.index-widget-tabgroup .user-info {
	padding: 0 15px;
	height: 51px;
	display: block;
	text-align: center
}

.index-widget-tabgroup .user-info .avatar {
	width: 43px;
	height: 43px;
	display: block;
	border: 2px solid #fcfcfc;
	border-radius: 43px;
	background: center center no-repeat;
	background-size: 100% 100%;
	position: relative;
	top: 4px;
	left: 5px
}

.index-widget-tabgroup .user-info .default-avatar {
	margin-top: 16px;
	font-size: 18px;
	color: #fff
}

.common-widget-searchnave {
	position: relative;
	z-index: 1000
}

.common-widget-searchnave .se-wrap input.geo {
	color: #4C78CE
}

.common-widget-searchnave .se-wrap .icon {
	z-index: 1000
}

.common-widget-searchnave .se-btns {
	font-family: PingFangSC-Semibold, sans-serif;
	padding: 0 24px;
	border-bottom: #d4d4d4 solid 1px;
	background-color: #f5f5f5
}

.common-widget-searchnave .se-btns button {
	border: 0;
	height: 41px
}

.common-widget-searchnave .se-btns button span {
	display: inline-block;
	height: 41px;
	line-height: 41px;
	width: 50px;
	font-size: 14px;
	color: #7b879d
}

.common-widget-searchnave .se-btns button span.selected {
	color: #3385ff;
	border-bottom: #3385ff solid 2px
}

.common-widget-searchnave .se-btns .icon {
	margin-right: 5px;
	color: #7b879d
}

.common-widget-searchnave .se-wrap {
	background-color: #fff;
	border-bottom: #d4d4d4 solid 1px;
	padding: 0 15px
}

.common-widget-searchnave .se-wrap .input-group {
	color: #333
}

.common-widget-searchnave .se-wrap .input-group .icon {
	left: 0;
	margin-top: -8px;
	font-size: 16px
}

.common-widget-searchnave .se-wrap .start-input-group {
	border-bottom: #d4d4d4 solid 1px
}

.common-widget-searchnave .se-wrap .input-point {
	padding: 0 15px
}

.common-widget-searchnave .se-wrap .input-text input[type=text] {
	padding: 14px 0
}

.common-widget-searchnave .se-wrap .input-text {
	height: 51px;
	border: 0
}

.common-widget-searchnave .se-wrap .input-text #se-txt-start,
.common-widget-searchnave .se-wrap .input-text #se-txt-end {
	padding-left: 22px
}

.common-widget-searchnave .se-wrap .btn {
	width: auto;
	min-width: 0;
	padding: 0;
	border: 0;
	color: #999
}

.common-widget-searchnave .se-wrap .se-btn-search {
	border: 1px #d9d9d9 solid;
	color: #d9d9d9;
	height: 31px;
	width: 56px;
	border-radius: 16px;
	background-color: #fff;
	line-height: 31px;
	text-align: center
}

.common-widget-searchnave .se-wrap .se-btn-search.actived {
	border: 1px #3385ff solid;
	color: #3385ff
}

.common-widget-map {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	z-index: -10
}

.map-holder {
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.BMap_mask {
	background: transparent url("data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAtJREFUGFdjYAACAAAFAAGq1chRAAAAAElFTkSuQmCC")
}

.BMap_noscreen {
	display: none
}

.BMap_button {
	cursor: pointer
}

.BMap_cpyCtrl a {
	font-size: 11px;
	color: #7979CC
}

.BMap_scaleCtrl {
	width: 70px;
	height: 22px;
	bottom: 10px;
	left: 10px;
	-moz-user-select: none
}

.BMap_scaleCtrl div.BMap_scaleTxt {
	font-size: 11px;
	font-family: Arial, sans-serif;
	white-space: nowrap
}

.BMap_scaleCtrl div {
	position: absolute
}

.BMap_scaleHBar {
	width: 100%;
	height: 3px;
	font-size: 0;
	bottom: 0;
	background-color: #000
}

.BMap_scaleLBar,
.BMap_scaleRBar {
	width: 1px;
	height: 6px;
	bottom: 0;
	font-size: 0;
	background-color: #000
}

.BMap_scaleLBar {
	left: 0
}

.BMap_scaleRBar {
	right: 0
}

.BMap_scaleTxt {
	text-align: center;
	width: 100%;
	cursor: default;
	line-height: 18px
}

.common-widget-searchnave .se-wrap .se-btn-search.actived {
	border: 1px #3385ff solid;
	color: #3385ff;
}

.BMap_noprint anchorTR {
	z-index: 2000 !important;
}

.pathset {
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	top: 0 ;
	height: 140px;
	padding-right: 10px;
	padding-left: 10px;
	border-bottom: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .85);
	box-shadow: 0 0 1px rgba(0, 0, 0, .85);
	-webkit-backloadInitface-visibility: hidden;
	backface-visibility: hidden;
}

#r-result {
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 158px;
	border-bottom: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .85);
	box-shadow: 0 0 1px rgba(0, 0, 0, .85);
	overflow-y: scroll;
}

.imgSize{
	margin-top: 4px;
	height: 24px;
}
